/*/////////// GLOBAL CLASSES APP ////////////*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

.darkThemeText {
    color: #fff;
}

.title-page {
    color: #14a76c;
    font-size: 3.5rem;
    text-align: center;
}

.darkTheme, .darkTheme option{
    background-color: #202020;
    color: #e6e6e6;
}

.darkTheme button,.darkTheme select, .darkTheme input{
    color:#e6e6e6;
}

/*/////////// SELECT ////////////*/
select{
    background: #77777725;
    padding:.5rem 2rem;
    border-radius: 1rem;
    border:none;
    border:1px solid transparent;
}

select:focus{
    border-color:#77777777;
    outline: none;
}

/*/////////// BUTTONS ////////////*/
.btm-stretch{
    width: 100% !important;
}

.button {    
    user-select: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.button:hover {
    background-color: #77777725;
    text-decoration: none;
}

.btm-border{
    font-size: 1rem;    
    cursor: pointer;
    user-select: none;
    padding: .75rem;
    border: none; 
    background: none;
    border-bottom: 2px solid #777777; 
}

.btm-border:hover{
    border-color:#14a76c;
    color:#14a76c;
}

.btm-border:disabled{
    border-color:#777777;
    color:#777777;
    cursor: default;
}

.btm-border:focus{
    outline: none;
    /* border-color:#14a76c;
    color:#14a76c; */
}

/*/////////// FORM ////////////*/
.form-group label{
    margin-left: .5rem;    
}

.form-input{
    background:#77777710;
    width: 100%;
    padding: .3rem;
    margin:.3rem 0 .5rem 0;
    border:none;
    border-bottom: 1px solid #777777;
}

.form-disabled{
    background:#77777710;
    width: 100%;
    padding: .3rem;
    margin:.3rem 0 .5rem 0;
    border:none;
    border-bottom: 1px solid #777777;
    font-size:1.3rem 
}

.form-input:focus{
    border-bottom: 1px solid #14a76c;
    outline: none;
}

.fb-block{
    width: 100%;
}

/*/////////// SWITCH ////////////*/

.switch-input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 16px 0 16px 44px;
}
.switch-label:before,
.switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9e9e9e;
    border-radius: 8px;
}
.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
        0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:before {
    background-color: #a5d6a7;
}
.switch-input:checked + .switch-label:after {
    background-color: #14a76c;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}

/*/////////////// USER WORKS ////////////////////*/

.user-works{
    display: flex;
    flex-direction: column;
}

.user-work, .user-work-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0 .4rem;
    border-bottom: 1px solid #cecece; 
}

.user-work-header{
    border-top: 1px solid #cecece; 
    font-weight: bold;
    background: #7777776b;
}

.user-work-field{
    width: 40%;
    text-align: center;
    padding:.9rem 0;
}

/*/////////// ICONS ////////////////*/
.darkTheme .user-icon::before,.darkTheme .user-icon::after{
    background-color: #FFF;
}

.user-icon {
    position: relative;
    width: 24px;
    height: 3px;
    background-color:transparent;
}

.user-icon::before {
    position: absolute;
    left: 7px;
    top: -7px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #202020;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.user-icon::after {
    position: absolute;
    left: 4px;
    top: 2px;
    content: "";
    width: 16px;
    height: 7px;
    border-radius: 50% 50% 0 0;
    background-color: #202020;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}


.user-icon.user-icon-active::before,.user-icon.user-icon-active::after {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 24px;
    height: 3px;
    transition: all 0.1s linear, transform 0.2s ease-in 0.2s;
}

.user-icon.user-icon-active::before{
    transform: rotate(45deg);
}

.user-icon.user-icon-active::after {
    transform: rotate(-45deg);    
}

/*/////////// ANIMATIONS ////////////*/
.fadePage-leave-active {
    transition: opacity 0.5s ease;    
}

.fadePage-enter-active {
    transition: opacity 0.5s ease 0.5s;    
}

.fadePage-enter, .fadePage-leave-to {
    opacity: 0;    
}
