/* Variables */
:root {
    --scrollbar-size: .5rem;
    --scrollbar-minlength: 1.5rem; /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
    --scrollbar-ff-width: thin; /* FF-only accepts auto, thin, none */
    --scrollbar-track-color: transparent;
    --scrollbar-color: #14a76c77;
    --scrollbar-color-hover: #14a76cbb;
    --scrollbar-color-active: #14a76c;
  }
  
  .block-scroll {
    overscroll-behavior: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: var(--scrollbar-ff-width);
  }
  
  /* This class controls what elements have the new fancy scrollbar CSS */
  .block-scroll {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
  }
  .block-scroll::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
  }
  .block-scroll::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }
  .block-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px;
  }
  .block-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
  }
  .block-scroll::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color-active);
  }
  .block-scroll::-webkit-scrollbar-thumb:vertical {
    min-height: var(--scrollbar-minlength);
  }
  .block-scroll::-webkit-scrollbar-thumb:horizontal {
    min-width: var(--scrollbar-minlength);
  }
  /* .block-scroll::-webkit-scrollbar-corner {
    display: none;
  }
  .block-scroll::-webkit-scrollbar-button {
    display: none;
  } 
   */  
